################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/RC4Net/obj/Debug/netstandard2.0/RC4Net.csproj.CoreCompileInputs.cache
